/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding-top: 87px;
   text-align: center;
   height: 175px;
   color: $colorGrey;
   @include sp {
       height: 107px;
       padding-top: 35px;
   }
}