/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding-top: 87px;
   text-align: center;
   height: 175px;
   color: $colorGrey;
}