/* layout
------------------------------------------------------------*/
body {
    width: 100%;
    min-width: 1320px;

    @include sp {
        min-width: 320px;
    }

    &.is-fixed {
        position: fixed;
    }
}

.l-container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    z-index: 2;
    @include sp {
        max-width: 100%;
    }
}

.l-content {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    z-index: 2;
    @include sp {
        max-width: 100%;
    }
}