<%- include('inc/_header'); %>
<main id="main" class="p-home">
    <section>
        <div class="l-container">
            <div class="c-slide">
                <div class="c-slide__img">
                    <figure><img src="../assets/img/svg/アートボード 1@2x.svg" alt="アートボード"></figure>
                </div>
                <div class="c-slide__info">
                    <h2 class="c-slide__title">
                        産業・社会・暮らしを 最先端の技術で支える
                    </h2>
                    <p class="c-slide__content">
                        プレテックは半導体などの精密部品の品質を左右する <br> 電子材料の「洗浄」の装置を開発しているメーカーです。<br> 快適な暮らしを実現するために日々技術と研究を積み重ねています。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="p-home__company">
        <div class="c-company">
            <div class="l-container1">
                <h2 class="c-title1" id="company">
                    <figure class="c-title1__img">
                        <img src="../assets/img/svg/COMPANY.svg" alt="Company title">
                    </figure>
                    <span class="c-title1__description">
                        企業情報
                    </span>
                </h2>
                <h3 class="c-title2">
                    <span class="c-title2__name">
                        採用メッセージ・企業理念
                    </span>
                    <span class="c-title2__description">
                        MESSAGE
                    </span>
                </h3>
                <div class="l-container2">
                    <div class="c-text c-text__company">
                        <p class="c-text__company1">当社は1982年の創業以来「急速に進化するテクノロジーの世界で精密洗浄の最先端技術を提供していくこと。わずかなゴミ（パーティクル）も残さない『パーティクル０』を目指すこと。」を企業スピリットとして掲げています。</p>
                        <p class="c-text__company2">テクノロジーの進化とともに当社への期待が高まり、需要は拡大。従業員の能力を引き出し、魅力ある製品の開発と製造を行い、品質の良い製品を生産することで社会に貢献してまいりました。今では世界トップレベルの技術を社会に届けています。</p>
                        <p class="c-text__company3">我々と一緒に新しい技術にワクワクし、前向きにチャレンジしたいと考える皆さんとの出会いを心待ちにしています。最先端技術の結集である超精密洗浄装置を一緒に世界に発信しましょう。</p>
                    </div>
                    <figure class="c-img c-img__company">
                        <img src="../assets/img/svg/message.svg" alt="Company Message">
                    </figure>
                </div>
            </div>
            <div class="l-container1">
                <h3 class="c-title2 c-title2--height" id="data">
                    <span class="c-title2__name c-title2__name--font">
                        数字で見るプレテック
                    </span>
                    <span class="c-title2__description">
                        DATA
                    </span>
                </h3>
                <div class="l-container2">
                    <div class="c-block c-block__company">
                        <div class="c-block__item">
                            <h4 class="c-title3">従業員</h4>
                            <figure class="c-img c-img__data c-img__data--url1">
                                <img src="../assets/img/svg/data1.svg" alt="data1">
                            </figure>
                            <div class="c-text__data c-text__data1"><p>2021年9月末時点</p></div>
                        </div>
                        <div class="c-block__item">
                            <h4 class="c-title3">職種ごとの割合</h4>
                            <figure class="c-img c-img__data c-img__data--url2">
                                <img src="../assets/img/svg/data2.svg" alt="">
                            </figure>
                            <div class="c-text__data"><p>2021年9月末時点</p></div>
                        </div>
                        <div class="c-block__item c-block__item__different">
                            <h4 class="c-title3">新卒・中途の割合</h4>
                            <figure class="c-img c-img__data c-img__data--url3">
                                <img src="../assets/img/svg/data3.svg" alt="">
                            </figure>
                            <div class="c-text__data"><p>2021年9月末時点</p></div>
                        </div>
                        <div class="c-block__item c-block__item__different">
                            <h4 class="c-title3">平均残業時間</h4>
                            <figure class="c-img c-img__data c-img__data--url4">
                                <img src="../assets/img/svg/data4.svg" alt="">
                            </figure>
                            <div class="c-text__data"><p>2020年10月〜2021年9月の期間</p></div>
                        </div>
                        <div class="c-block__item">
                            <h4 class="c-title3">平均年齢</h4>
                            <figure class="c-img c-img__data c-img__data--url5">
                                <img src="../assets/img/svg/data5.svg" alt="">
                            </figure>
                            <div class="c-text__data"><p>2021年9月末時点</p></div>
                        </div>
                        <div class="c-block__item">
                            <h4 class="c-title3">有給取得日数</h4>
                            <figure class="c-img c-img__data c-img__data--url6">
                                <img src="../assets/img/svg/data6.svg" alt="">
                            </figure>
                            <div class="c-text__data"><p>2020年10月〜2021年9月の期間</p></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </section>
    <section class="p-home__business">
        <div class="c-business">
            <div class="l-container">
                <h2 class="c-title1" id="business">
                    <figure class="c-title1__img">
                        <img src="../assets/img/svg/BUSINESS.svg" alt="Business title">
                    </figure>
                    <span class="c-title1__description c-title1__description--height">
                        事業紹介
                    </span>
                </h2>
                <h3 class="c-title2 c-title2__business">
                    <span class="c-title2__name c-title2__name__business">
                        事業・サービス紹介
                    </span>
                    <span class="c-title2__description c-title2__description__business">
                        SERVICE
                    </span>
                </h3>
                <div class="l-container2">
                    <figure class="c-img c-img__service">
                        <img src="../assets/img/jpg/service1.jpg" alt="service">
                    </figure>
                    <div class="c-text c-text__service">
                        <h4 class="c-title4">
                            <span>半導体・液晶をはじめとした</span><br>
                            <span>精密部品の製造を</span><br>
                            <span>洗浄工程で支える</span>
                        </h4>
                        <p class="c-text c-text__service--height">
                            精密部品を製造するには、材料となる電子材料（シリコンウェハー、マスクブランクス、ガラスディスクなど）の洗浄が欠かせません。プレテックはそうした電子材料の洗浄装置を開発し、お客様に提供しています。
                        </p>
                    </div>
                </div>
                <div class="l-container2 l-container2--reserve">
                    <figure class="c-img c-img__service c-img__service--reserve">
                        <img src="../assets/img/jpg/service2.jpg" alt="service">
                    </figure>
                    <div class="c-text c-text__service c-text__service--reserve">
                        <h4 class="c-title4">
                            <span>生活を支える半導体</span>
                        </h4>
                        <p class="c-text c-text__service--height">
                            生活に欠かせないスマートフォンやテレビ、洗濯機、さらには自動車、医療機器にまで、あらゆるものに半導体と呼ばれる精密部品が使われています。世界の半導体市場における売上高シェアで見ると日本は決して多くありません。しかし半導体の材料である電子材料や半導体洗浄の分野における日本のシェアは世界でも上位に位置するほどの強みを持っており、今後も成長し続ける産業であると言えるでしょう。
                        </p>
                    </div>
                </div>
                <div class="l-container2">
                    <figure class="c-img c-img__service c-img__service3">
                        <img src="../assets/img/jpg/service3.jpg" alt="service">
                    </figure>
                    <div class="c-text c-text__service c-text__service3">
                        <h4 class="c-title4">
                            <span>精密部品の「きれいさ」が
                            </span><br>
                            <span>信頼性を左右する</span>
                        </h4>
                        <p class="c-text c-text__service--height">
                            家電を毎日当たり前に使えるのは、製品に使われている精密部品の品質が確かだからです。もしも精密部品に欠陥があったら、製品の故障になり得る恐れがあります。そうした欠陥を引き起こすのは、実は精密部品に付いたほんのわずかなゴミや汚れなのです。よってお客様の製品の品質を確保し、さらに製品の生産率を高めるには、精密部品の材料からゴミや汚れを「どれだけきれいにできるか」――つまり洗浄装置の性能が重要になります。
                        </p>
                    </div>
                </div>
                <div class="l-container2 l-container2--reserve">
                    <figure class="c-img c-img__service c-img__service--reserve">
                        <img src="../assets/img/jpg/service4.jpg" alt="service" class="c-img__service4">
                    </figure>
                    <div class="c-text c-text__service c-text__service--reserve">
                        <h4 class="c-title4 c-title4__service4">
                            <span>安心して長く使える</span><br>
                            <span>洗浄装置を研究し続ける</span>
                        </h4>
                        <p class="c-text c-text__service--height">
                            お客様の電子材料製造に欠かせない「洗浄」の工程をサポートするのが、プレテックが開発・提供する洗浄装置です。洗浄の方法や落としたい汚れはお客様によって異なるため、洗浄装置は全てオーダーメイドです。<br>
                            半導体などの精密部品は年々小型化、省力化が進み、洗浄に求められる水準はは年々高まっており、プレテックでは洗浄技術を向上させるために日々研究を続けています。同時に、洗浄に使用する水・薬品・電力コストの削減、工程の短縮、設置面積の縮小などさまざまな角度から、お客様に満足いただける装置を追究しています。
                        </p>
                    </div>
                </div>
                <div class="l-container1 l-container1__business">
                    <h4 class="c-title4 c-title4_business">
                        電子材料の製造工程におけるプレテックの事業領域
                    </h4>
                    <div class="c-block c-block__business">
                        <div class="c-block__general c-block__business1 c-tooltip">

                            <div class="c-tooltip__general">
                                <span class="c-tooltip__subTooltip"></span>
                                <span class="c-tooltip__txt">プレテックは「洗浄」の工程で使われる装置を
                                開発・製造しています</span>
                            </div>
                        </div>
                        <div class="c-block__general">

                            <div class="c-tooltip__general">
                                <span class="c-tooltip__subTooltip"></span>
                                <span class="c-tooltip__txt c-tooltip__txt2">プレテックは「洗浄」の工程で使われる装置を
                                開発・製造しています</span>
                            </div>
                        </div>
                        <div class="c-block__general">

                            <div class="c-tooltip__general">
                                <span class="c-tooltip__subTooltip"></span>
                                <span class="c-tooltip__txt c-tooltip__txt3">プレテックは「洗浄」の工程で使われる装置を
                                開発・製造しています</span>
                            </div>
                        </div>
                        <div class="c-block__general c-block__business4">

                            <div class="c-tooltip__general">
                                <span class="c-tooltip__subTooltip"></span>
                                <span class="c-tooltip__txt c-tooltip__txt4">プレテックは「洗浄」の工程で使われる装置を
                                開発・製造しています</span>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>  
    <section class="p-home__workstaff">
        <div class="c-workstaff">
            <div class="l-container">
                <h2 class="c-title1" id="work&staff">
                    <figure class="c-title1__img">
                        <img src="../assets/img/svg/WORK&STAFF.svg" alt="Work - Staff title">
                    </figure>
                    <span class="c-title1__description c-title1__description--height">
                        職種紹介・社員紹介
                    </span>
                </h2>
                <div class="l-container__workstaff">
                    <h3 class="c-title2 c-title2">
                        <span class="c-title2__name c-title2__name--spacingWork">
                            職種紹介
                        </span>
                        <span class="c-title2__description">
                            WORKS
                        </span>
                    </h3>
                    <div class="c-work">
                        <div class="c-img c-img__work">
                            <figure class="c-img__work__content">
                                <img src="../assets/img/jpg/works1.jpg" alt="">
                            </figure>
                            <div class="c-img__info">
                                <h4 class="c-title4 c-title4__work">
                                    <span class="c-title4__txt">機械設計（技術系、開発系）</span>
                                </h4>
                                <p class="c-text">
                                    洗浄装置のハード面の設計図を作成する業務です。お客様のニーズに柔軟に対応した洗浄装置の筐体、駆動部などの設計をCADで行います。
                                </p>
                            </div>
                        </div>
                        <div class="c-block__work">
                            <div class="c-block__work__item1">
                                <h5 class="c-title3 c-title3__work">
                                    装置の機械設計
                                </h5>
                                <p class="c-text c-text__work">
                                    仕様に沿った性能、操作性・保守性を考慮し装置設計を行います。
                                </p>
                            </div>
                            <div class="c-block__work__item2">
                                <h5 class="c-title3 c-title3__work">
                                    新規開発案件の機械設計
                                </h5>
                                <p class="c-text c-text__work">
                                    お客様の声を直接伺い、課題解決に向けて装置開発を行います。試行錯誤しながら最先端の洗浄装置の開発を行います。
                                </p>
                            </div>
                            <div class="c-block__work__item3">
                                <h5 class="c-title3 c-title3__work">
                                    仕様書の作成
                                </h5>
                                <p class="c-text c-text__work">
                                    お客様が期待することを丁寧にヒアリングし、提案や協議を重ねながら仕様書を作成します。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="c-work c-work2">
                        <div class="c-img c-img__work c-img__work--reserve">
                            <figure class="c-img__work__content">
                                <img src="../assets/img/jpg/works2.jpg" alt="">
                            </figure>
                            <div class="c-img__info">
                                <h4 class="c-title4 c-title4__work">
                                    <span class="c-title4__txt">制御設計</span>
                                </h4>
                                <p class="c-text">
                                    洗浄装置の動作の制御プログラムを作成する業務です。洗浄装置の適切な動き、さまざまな管理センサーのシステムを設計します。
                                </p>
                            </div>
                        </div>
                        <div class="c-block__work">
                            <div class="c-block__work__item1">
                                <h5 class="c-title3 c-title3__work">
                                    装置の制御設計
                                </h5>
                                <p class="c-text c-text__work">
                                    PLCプログラムの設計や、タッチパネルの設計などを行います。
                                </p>
                            </div>
                            <div class="c-block__work__item2">
                                <h5 class="c-title3 c-title3__work">
                                    装置の電気設計
                                </h5>
                                <p class="c-text c-text__work">
                                    センサーの選定やモーターの駆動方法の検討、制御盤の設計などを行います。
                                </p>
                            </div>
                            <div class="c-block__work__item3">
                                <h5 class="c-title3 c-title3__work">
                                    据付、立上げ、操作説明
                                </h5>
                                <p class="c-text c-text__work">
                                    完成した装置をお客様の工場に設置した後、装置の動作確認、調整を行います。問題がなければ、お客様に装置の操作方法を説明します。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="c-work c-work3">
                        <div class="c-img c-img__work">
                            <figure class="c-img__work__content c-img__work__content--right">
                                <img src="../assets/img/jpg/works3.jpg" alt="">
                            </figure>
                            <div class="c-img__info">
                                <h4 class="c-title4 c-title4__work">
                                    <span class="c-title4__txt">製造（機械）</span>
                                </h4>
                                <p class="c-text">
                                    洗浄装置を組み立てる業務です。図面に基づき、オーダーメイドの洗浄装置を組み立て、調整、検査します。材料の加工や溶接なども行います。
                                </p>
                            </div>
                        </div>
                        <div class="c-block__work">
                            <div class="c-block__work__item1">
                                <h5 class="c-title3 c-title3__work">
                                    装置の組立、改造
                                </h5>
                                <p class="c-text c-text__work">
                                    仕様に沿った性能、操作性・保守性を考慮し装置設計を行います。
                                </p>
                            </div>
                            <div class="c-block__work__item2">
                                <h5 class="c-title3 c-title3__work">
                                    装置の検査・調整
                                </h5>
                                <p class="c-text c-text__work">
                                    完成した装置は、工場内で各工程の検査をした後、最終検査を行います。仕様の通りに動作しているか各項目の検査を実施し、合格したものが出荷されます。
                                </p>
                            </div>
                            <div class="c-block__work__item3">
                                <h5 class="c-title3 c-title3__work">
                                    納品・据付・立上げ
                                </h5>
                                <p class="c-text c-text__work">
                                    完成した装置をお客様の工場に納品し、据付・立上げを行います。装置を稼働させ動作確認を行います。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                <div class="l-container1 l-container1__staff">
                    <h3 class="c-title2">
                        <span class="c-title2__name c-title2__name__staff">
                            社員紹介
                        </span>
                        <span class="c-title2__description">
                            Staff
                        </span>
                    </h3>
                    <p class="c-text c-text__staff">当社で働く社員の声をご紹介。仕事の内容や失敗から学んだ経験談などをご覧いただけます。</p>
                </div>
            
            
        </div>
    </section>
</main>
<script src="../assets/js/home.js"></script>
<!--▼ Content area ▼-->