<%- include('inc/_header'); %>
<main id="main">
    <section class="section-courses" id="section-courses">
        
    </section>
</main>
<script src="../assets/js/home.js"></script>
<!--▼ Content area ▼-->