@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  position: fixed;
  height: 80px;
  z-index: 99;
}

@media screen and (max-width: 767px) {
  .c-header {
    width: 375px;
    height: 60px;
    display: none;
  }
}

.c-header__menu {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.c-header__logo {
  padding: 15px 40px;
  float: left;
}

@media screen and (max-width: 767px) {
  .c-header__logo {
    width: 52%;
    max-width: 187px;
    margin: -5px 0 0;
  }
}

.c-header__nav {
  display: -webkit-box;
  display: flex;
  float: right;
}

@media screen and (max-width: 767px) {
  .c-header__nav {
    float: left;
    flex-wrap: wrap;
  }
}

.c-header__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
}

.c-header__entry {
  margin-right: 40px;
  width: 120px;
  height: 80px;
  background: #FFD600 url(../../../assets/img/svg/icon-entry.svg) no-repeat center 18px;
}

.c-header__entry span {
  font-size: 18px;
  line-height: 1.5;
  color: #000A1C;
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 44px;
  margin-left: 34px;
  display: block;
}

.c-header__txt {
  font-size: 18px;
  line-height: 1.5;
  color: #0288D1;
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 2px;
}

.c-header__subTxt {
  font-size: 12px;
  line-height: 1.5;
}

.c-header__item {
  padding: 19px 24px;
  text-align: center;
  display: block;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  padding-top: 87px;
  text-align: center;
  height: 175px;
  color: #607C93;
}

@media screen and (max-width: 767px) {
  .c-footer {
    height: 107px;
    padding-top: 35px;
  }
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1320px;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

body.is-fixed {
  position: fixed;
}

.l-container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .l-container {
    max-width: 100%;
  }
}

.l-content {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .l-content {
    max-width: 100%;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn {
  width: 454px;
  height: 79px;
  font-size: 20px;
  line-height: 1.5;
  font-family: "NotoSansJP";
  font-weight: bold;
  color: #000A1C;
  background: #FFD600 url(../../../assets/img/svg/icon-entry.svg) no-repeat 157px center;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
}

.c-btn span {
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .c-btn {
    width: 310px;
    height: 63px;
  }
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title1 {
  display: block;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .c-title1 figure {
    max-width: 100%;
    width: 210px;
    margin: auto;
  }
}

.c-title1__description {
  font-size: 3.2rem;
  line-height: 1.125;
  font-weight: bold;
  font-family: "NotoSansJP";
  text-align: center;
  display: block;
  margin-top: 7px;
  letter-spacing: 3.2px;
  color: #000A1C;
}

@media screen and (max-width: 767px) {
  .c-title1__description {
    line-height: 1;
    font-size: 24px;
    letter-spacing: 1.85px;
  }
}

.c-title2 {
  text-align: center;
}

.c-title2__jp {
  display: block;
  font-size: 28px;
  font-family: "NotoSansJP";
  font-weight: bold;
  line-height: 1.93;
  letter-spacing: 2.8px;
  color: #0288D1;
}

@media screen and (max-width: 767px) {
  .c-title2__jp {
    font-size: 19px;
    line-height: 1.42;
    letter-spacing: 1.9px;
  }
}

.c-title2__eng {
  display: block;
  font-size: 16px;
  line-height: 1.6875;
  color: #607C93;
  font-family: "Roboto";
  letter-spacing: 0.8px;
  margin: 1px 0 0;
}

@media screen and (max-width: 767px) {
  .c-title2__eng {
    line-height: 1;
    margin: 15 0 0;
  }
}

.c-title2--size2 .c-title2__jp {
  font-size: 32px;
  line-height: 1.75;
}

@media screen and (max-width: 767px) {
  .c-title2--size2 .c-title2__jp {
    font-size: 19px;
    line-height: 1.35;
  }
}

.c-title3__txt {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  font-family: "NotoSansJP";
  border-bottom: 1px solid #0288D1;
  padding-bottom: 21px;
}

@media screen and (max-width: 767px) {
  .c-title3__txt {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 14px;
    letter-spacing: 1px;
    border-width: 1px;
  }
}

.c-title4__txt {
  display: block;
  font-size: 32px;
  line-height: 1.5;
  font-family: "NotoSansJP";
  position: relative;
  letter-spacing: 1.4px;
  padding: 0 0 25px;
}

@media screen and (max-width: 767px) {
  .c-title4__txt {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 0 0 16px;
  }
}

.c-title4__txt::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  height: 4px;
  width: 32px;
  background-color: #0288D1;
}

@media screen and (max-width: 767px) {
  .c-title4__txt::after {
    bottom: 0;
    height: 2px;
    width: 20px;
  }
}

.c-title5 {
  text-align: center;
  font-size: 32px;
  line-height: 1.7;
  color: #000A1C;
  font-weight: bold;
  letter-spacing: 3.2px;
  border-bottom: 1px solid #0288D1;
  padding: 0 0 16px;
}

@media screen and (max-width: 767px) {
  .c-title5 {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.8px;
    padding: 0 0 14px;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-imgtext {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .c-imgtext {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }
}

.c-imgtext__info {
  width: 490px;
  height: 472px;
  padding-top: 2px;
}

@media screen and (max-width: 767px) {
  .c-imgtext__info {
    width: 100%;
  }
}

.c-imgtext__info .c-imgtext__txt {
  font-size: 16px;
  line-height: 2.5;
  font-family: "NotoSansJP";
}

@media screen and (max-width: 767px) {
  .c-imgtext__info .c-imgtext__txt {
    line-height: 2;
  }
}

@media screen and (max-width: 767px) {
  .c-imgtext__img {
    width: 100%;
  }
}

.c-imgtext1 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
}

@media screen and (max-width: 767px) {
  .c-imgtext1 {
    padding: 0;
  }
}

.c-imgtext1__img {
  padding-right: 30px;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .c-imgtext1__img {
    width: 100%;
    padding-right: 0;
  }
}

.c-imgtext1__info {
  width: 50%;
  padding-top: 24px;
}

@media screen and (max-width: 767px) {
  .c-imgtext1__info {
    width: 100%;
    padding-top: 20px;
  }
}

.c-imgtext1__txt {
  font-size: 16px;
  line-height: 2.5;
  font-weight: 400;
  margin-top: 34px;
}

@media screen and (max-width: 767px) {
  .c-imgtext1__txt {
    font-size: 16px;
    line-height: 2;
    margin-top: 11px;
  }
}

.c-imgtext1--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.c-imgtext1--reverse .c-imgtext1__img {
  padding-right: 0px;
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .c-imgtext1--reverse .c-imgtext1__img {
    padding-left: 0;
  }
}

.c-imgtext1--reverse .c-imgtext1__txt {
  font-size: 18px;
  line-height: 2;
  margin-top: 38px;
}

@media screen and (max-width: 767px) {
  .c-imgtext1--reverse .c-imgtext1__txt {
    font-size: 16px;
    margin-top: 10px;
  }
}

.c-imgtext1--reverse .c-imgtext1__info {
  padding-top: 28px;
}

@media screen and (max-width: 767px) {
  .c-imgtext1--reverse .c-imgtext1__info {
    padding-top: 20px;
  }
}

.c-imgtext3 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 69px;
}

.c-imgtext3__info {
  width: 450px;
}

.c-imgtext3__info .c-imgtext3__txt {
  font-size: 16px;
  line-height: 2.5;
  font-family: "NotoSansJP";
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .c-imgtext3__info {
    width: 100%;
  }
}

.c-imgtext3--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-list1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .c-list1 {
    flex-wrap: wrap;
  }
}

.c-list1__item {
  width: 300px;
  height: 452px;
  margin-top: 31px;
  box-shadow: 0 0 20px 1px #bdbdbd;
}

.c-list1__item:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .c-list1__item {
    width: 100%;
    height: 100%;
  }
  .c-list1__item img {
    width: 100%;
  }
}

.c-list1__item .c-list1__info {
  padding: 35px 35px 23px 35px;
}

.c-list1__item .c-list1__title {
  color: #0288D1;
  font-size: 14px;
  font-family: "NotoSansJP";
  line-height: 21px;
}

.c-list1__item .c-list1__name {
  margin-top: 10px;
  color: #000A1C;
  font-size: 24px;
  font-family: "NotoSansJP";
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 4px;
}

.c-list1__item .c-list1__time {
  margin-top: 8px;
  color: #000A1C;
  font-size: 14px;
  font-family: "NotoSansJP";
  line-height: 21px;
  letter-spacing: 1px;
}

.c-list2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-list2__item {
  width: 300px;
  height: 287px;
  padding-top: 27px;
  margin-bottom: 40px;
  background-color: #ffffff;
  position: relative;
}

.c-list2__item::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 20%;
  height: 4px;
  background: #0288D1;
  max-width: 300px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@media screen and (max-width: 767px) {
  .c-list2__item {
    width: 100%;
    margin: 0 0 20px;
    padding: 22px 20px 20px;
  }
}

.c-list2__title {
  text-align: center;
  font-size: 18px;
  line-height: 2;
  color: #0288D1;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .c-list2__title {
    font-size: 16px;
    line-height: 1.2;
  }
}

.c-list2__img {
  display: block;
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .c-list2__img {
    margin: 15px 0 0;
  }
}

.c-list2__info {
  text-align: center;
  margin: 9px 0 0;
}

@media screen and (max-width: 767px) {
  .c-list2__info {
    margin: 13px 0 0;
  }
}

.c-list2__number {
  font-size: 55px;
  line-height: 0.56;
  color: #000A1C;
  font-weight: 900;
  margin: 0 0 8px;
}

.c-list2__number span {
  font-size: 20px;
  line-height: 1;
  color: #000A1C;
  font-weight: bold;
  font-family: "Roboto";
}

@media screen and (max-width: 767px) {
  .c-list2__number span {
    font-size: 21px;
    margin: 0 3px 0 0;
  }
}

.c-list2__txt {
  font-size: 12px;
  line-height: 2.5;
  color: #000A1C;
  letter-spacing: 0.6px;
}

@media screen and (max-width: 767px) {
  .c-list2__txt {
    font-size: 10px;
    line-height: 1.5;
  }
}

.c-list3 {
  padding: 0 70px;
  background-color: #EDF8FF;
}

@media screen and (max-width: 767px) {
  .c-list3 {
    padding: 0;
  }
}

.c-list3__row {
  border-top: 1px solid #0288D1;
  display: -webkit-box;
  display: flex;
}

.c-list3__row .c-list3__name {
  padding: 40px;
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
  font-family: "NotoSansJP";
  width: 210px;
  height: 106px;
}

@media screen and (max-width: 767px) {
  .c-list3__row .c-list3__name {
    padding: 20px 0 0;
    width: 100px;
  }
}

.c-list3__row .c-list3__content {
  padding: 40px;
  font-size: 18px;
  line-height: 2;
  font-family: "NotoSansJP";
}

@media screen and (max-width: 767px) {
  .c-list3__row .c-list3__content {
    padding: 0 0 20px;
    margin-top: -50px;
  }
}

.c-list3__row .c-list3__item::marker {
  color: #0288D1;
}

@media screen and (max-width: 767px) {
  .c-list3__row {
    display: block;
  }
}

.c-list4 {
  margin-bottom: 42px;
}

.c-list4__row {
  border: 1px solid #CCCCCC;
  background: url(../../../assets/img/svg/step01.svg) no-repeat 62px 53px, url(../../../assets/img/svg/icon-laptop-entry.svg) no-repeat 150px 57px;
}

@media screen and (max-width: 767px) {
  .c-list4__row {
    background: url(../../../assets/img/svg/step01.svg) no-repeat 30px center;
  }
}

.c-list4__item {
  margin: 57px 60px 61px 250px;
}

.c-list4__item .c-list4__name {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "NotoSansJP";
}

@media screen and (max-width: 767px) {
  .c-list4__item .c-list4__name {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .c-list4__item {
    margin: 30px 30px 30px 100px;
  }
}

.c-list4__item .c-list4__content {
  font-size: 16px;
  line-height: 2;
  font-family: "NotoSansJP";
  letter-spacing: 2px;
  margin-top: 7px;
}

@media screen and (max-width: 767px) {
  .c-list4__item .c-list4__content {
    font-size: 14px;
  }
}

.c-list5 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.c-list5__item {
  width: 214px;
  height: 333px;
  background-color: white;
  margin-top: 95px;
}

@media screen and (max-width: 767px) {
  .c-list5__item {
    width: 300px;
    height: 300px;
    margin-top: 32px;
  }
}

.c-list5__item:hover {
  height: 388px;
  margin-top: 20px;
  border: 3px solid #0288D1;
}

.c-list5__item:hover .c-list5__tooltip {
  display: block;
}

@media screen and (max-width: 767px) {
  .c-list5__item:hover {
    width: 300px;
    height: 300px;
    margin-bottom: 75px;
  }
}

.c-list5__txt2 {
  margin-left: -258px;
}

@media screen and (max-width: 767px) {
  .c-list5__txt2 {
    margin-left: 0;
  }
}

.c-list5__txt3 {
  margin-left: -513px;
}

@media screen and (max-width: 767px) {
  .c-list5__txt3 {
    margin-left: 0;
  }
}

.c-list5__txt4 {
  margin-left: -768px;
}

@media screen and (max-width: 767px) {
  .c-list5__txt4 {
    margin-left: 0;
  }
}

.c-list5__tooltip {
  margin-top: 428px;
  display: none;
}

@media screen and (max-width: 767px) {
  .c-list5__tooltip {
    margin-top: 320px;
    margin-left: -3px;
    position: absolute;
  }
}

.c-list5__txt {
  display: block;
  width: 980px;
  background-color: #0288D1;
  border-radius: 98px;
  font-size: 28px;
  font-family: "NotoSansJP";
  line-height: 40px;
  padding: 19px 169px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2.5px;
}

@media screen and (max-width: 767px) {
  .c-list5__txt {
    width: 300px;
    height: 60px;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 9px;
  }
}

.c-list5__subTooltip {
  border: 20px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #0288D1;
  display: block;
  width: 0;
  height: 0;
  margin-top: -20px;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/* Slider
------------------------------------------------------------*/
.c-slide {
  background-color: #0288D1;
  height: 850px;
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .c-slide {
    padding: 2px 0 auto;
  }
}

.c-slide__img {
  padding-top: 19px;
  margin-left: -106.3px;
}

@media screen and (max-width: 767px) {
  .c-slide__img {
    width: 100%;
    margin: 0;
  }
}

.c-slide__info {
  position: absolute;
  top: 350px;
  right: 75px;
  left: 696px;
}

@media screen and (max-width: 767px) {
  .c-slide__info {
    top: 0;
    left: 0;
    position: relative;
  }
}

.c-slide__title {
  font-family: "NotoSansJP";
  font-size: 44px;
  line-height: 70px;
  color: #ffffff;
  letter-spacing: 6.5px;
}

@media screen and (max-width: 767px) {
  .c-slide__title {
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    margin: 0 25px 20px 25px;
    letter-spacing: 2px;
  }
}

.c-slide__content {
  margin-top: 21px;
  font-size: 16px;
  line-height: 42px;
  font-family: "NotoSansJP";
  color: #ffffff;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .c-slide__content {
    margin: 0 25px 100px 25px;
    font-size: 12px;
    line-height: 1.9;
    letter-spacing: 0.5px;
    text-align: center;
  }
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-block1 {
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: #EDF8FF;
  padding: 26px 40px 40px;
}

@media screen and (max-width: 767px) {
  .c-block1 {
    margin: 0 15px;
    padding: 18px 20px 15px 20px;
  }
}

.c-block1__item:not(:last-child) {
  margin-bottom: 27px;
}

@media screen and (max-width: 767px) {
  .c-block1__item:not(:last-child) {
    margin-bottom: 14px;
  }
}

.c-block1__title {
  font-size: 20px;
  color: #0288D1;
  line-height: 1.87;
  margin-bottom: 7px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .c-block1__title {
    font-size: 17px;
    line-height: 1.76;
    letter-spacing: 0.85px;
  }
}

.c-block1__txt {
  line-height: 1.5;
  color: #000A1C;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .c-block1__txt {
    line-height: 2;
    font-size: 16px;
  }
}

.c-modal {
  margin-top: 80px;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: flex;
  display: none;
  width: 980px;
  height: 100%;
  overflow: scroll;
  background-color: #ffffff;
  border-left: 1px solid #0288D1;
  border-right: 2px solid #0288D1;
}

@media screen and (max-width: 767px) {
  .c-modal {
    width: 100%;
    margin-left: -30px;
    border-top: 1px solid #0288D1;
  }
}

.c-modal__text {
  font-size: 16px;
  line-height: 2.5;
  font-family: "NotoSansJP";
  padding-bottom: 40px;
}

.c-modal__img {
  width: 100%;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .c-modal__img {
    padding-bottom: 0;
  }
}

.c-modal__img--padding {
  padding: 0 80px 80px 80px;
}

@media screen and (max-width: 767px) {
  .c-modal__img--padding {
    padding: 0 30px 30px;
  }
}

.c-modal__title {
  margin-bottom: 40px;
}

.c-modal__txt {
  padding: 0 80px;
}

@media screen and (max-width: 767px) {
  .c-modal__txt {
    padding: 30px;
  }
}

.c-modal__btn {
  height: 80px;
  width: 960px;
  border-top: 1px solid #607C93;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: #ffffff;
}

.c-modal__btn button {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: transparent;
  background: url(../../../assets/img/svg/icon_x.svg) no-repeat 430px center;
}

@media screen and (max-width: 767px) {
  .c-modal__btn {
    width: 375px;
  }
}

.c-entry {
  background: #0288D1;
  padding: 97px 0 100px;
}

@media screen and (max-width: 767px) {
  .c-entry {
    padding: 49px 0 50px;
  }
}

.c-entry__inner {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 767px) {
  .c-entry__inner {
    max-width: 100%;
  }
}

.c-entry__title {
  text-align: center;
}

.c-entry__eng {
  display: block;
  font-size: 6.4rem;
  line-height: 1.5;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 25.6px;
}

@media screen and (max-width: 767px) {
  .c-entry__eng {
    font-size: 3.2rem;
    letter-spacing: 12.8px;
  }
}

.c-entry__jp {
  display: block;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2.4px;
}

@media screen and (max-width: 767px) {
  .c-entry__jp {
    font-size: 1.6rem;
    line-height: 1.65;
    letter-spacing: 1.6px;
    margin: 4px 0 0;
  }
}

.c-entry__txt {
  text-align: center;
  font-size: 1.8rem;
  line-height: 2;
  color: #ffffff;
  margin: 34px 0 0;
}

@media screen and (max-width: 767px) {
  .c-entry__txt {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 27px 0 0;
  }
}

.c-entry .c-btn {
  margin-top: 55px;
}

@media screen and (max-width: 767px) {
  .c-entry .c-btn {
    margin: 39px 0 0;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top {
  line-height: 2;
  z-index: 0;
}

.p-top1 {
  position: relative;
  margin-top: -119px;
  padding-top: 102px;
  margin-left: 50px;
}

@media screen and (max-width: 767px) {
  .p-top1 {
    width: 360px;
    margin-top: -50px;
    padding-top: 50px;
    margin-left: 0;
    background-color: #EDF8FF;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-top1::after {
  content: '';
  width: 1180px;
  height: 100%;
  background-color: #EDF8FF;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@media screen and (max-width: 767px) {
  .p-top1::after {
    content: none;
  }
}

.p-top1__message .c-title2 {
  margin-top: 80px;
}

.p-top1__message .c-imgtext {
  margin-top: 50px;
}

.p-top1__message .c-imgtext__info {
  margin-top: -13px;
}

@media screen and (max-width: 767px) {
  .p-top1__message .c-imgtext__img {
    margin-bottom: 30px;
  }
}

.p-top1__data .c-title2 {
  margin-top: 100px;
}

.p-top1__data .c-title2__jp {
  letter-spacing: 6px;
}

.p-top1__data .c-list2 {
  margin-top: 37px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .p-top1__data .c-list2 {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .p-top1__data {
    margin-top: 190px;
  }
}

.p-top2 .c-title1 {
  margin-top: 104px;
  margin-left: 50px;
}

.p-top2 .c-title1__description {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .p-top2 .c-title1 {
    margin-top: 50px;
    margin-left: 0;
  }
}

.p-top2 .c-title2 {
  margin-top: 174px;
}

@media screen and (max-width: 767px) {
  .p-top2 .c-title2 {
    margin-top: 80px;
  }
}

.p-top2 .c-imgtext3__info--big {
  width: 567px;
}

@media screen and (max-width: 767px) {
  .p-top2 .c-title4 {
    margin-top: 40px;
  }
}

.p-top3 {
  height: 752px;
  background-color: #EFF2F4;
  width: 1180px;
  margin: 0 auto;
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .p-top3 {
    width: 355px;
    margin-top: 50px;
    height: 100%;
    padding-bottom: 30px;
  }
}

.p-top3 .l-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .p-top3 .l-content {
    flex-wrap: wrap;
  }
}

.p-top3 .c-title4 {
  padding-top: 60px;
  text-align: center;
}

.p-top3 .c-title4 span {
  letter-spacing: 3px;
}

@media screen and (max-width: 767px) {
  .p-top3 .c-title4 span {
    letter-spacing: 1px;
  }
}

.p-top3 .c-title4 span::after {
  content: none;
}

.p-top3 .c-title4::after {
  content: '';
  left: 0;
  bottom: 0;
  display: inline-block;
  height: 1px;
  width: 80%;
  background-color: #0288D1;
}

.p-top3 .c-title4__txt {
  margin-bottom: -21px;
}

@media screen and (max-width: 767px) {
  .p-top3 .c-title4 {
    padding: 50px 50px 0;
  }
}

.p-top4 .c-title1 {
  margin-top: 102px;
}

.p-top4 .c-title1__description {
  margin-top: 27px;
}

@media screen and (max-width: 767px) {
  .p-top4 .c-title1 {
    margin-top: 50px;
  }
}

.p-top4 .c-title2 {
  margin-top: 140px;
  margin-bottom: 58px;
}

@media screen and (max-width: 767px) {
  .p-top4 .c-title2 {
    margin-top: 80px;
  }
}

.p-top4__work {
  border: 5px solid #EDF8FF;
  border-top: 5px solid transparent;
}

@media screen and (max-width: 767px) {
  .p-top4__work {
    padding: 0 35px;
  }
  .p-top4__work .c-block1 {
    margin: 30px 0;
  }
}

.p-top5__txt {
  font-size: 18px;
  line-height: 2;
  color: #000A1C;
  margin: 51px 0 0;
}

@media screen and (max-width: 767px) {
  .p-top5__txt {
    font-size: 16px;
    margin: 37px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .p-top5 .c-title2 {
    margin-top: 50px;
  }
  .p-top5 .c-title2__jp {
    margin-bottom: 12px;
  }
}

.p-top6 {
  position: relative;
  z-index: -1;
}

.p-top6 .l-content {
  background-color: #EDF8FF;
}

.p-top6 .c-title1 {
  margin-top: 185px;
}

.p-top6 .c-title1 span {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .p-top6 .c-title1 {
    margin-top: 50px;
    padding-top: 50px;
  }
}

.p-top6 .c-title2 {
  margin-top: 75px;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .p-top6 .c-title2 {
    margin: 40px 0;
  }
}

.p-top7 .c-title2 {
  margin-top: 150px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .p-top7 .c-title2 {
    margin-top: 75px;
  }
}

.p-top7 .c-list4__row2 {
  background: url(../../../assets/img/svg/step02.svg) no-repeat 62px 53px, url(../../../assets/img/svg/icon-seminar.svg) no-repeat 150px 57px;
}

@media screen and (max-width: 767px) {
  .p-top7 .c-list4__row2 {
    background: url(../../../assets/img/svg/step02.svg) no-repeat 30px center;
  }
}

.p-top7 .c-list4__row3 {
  background: url(../../../assets/img/svg/step03.svg) no-repeat 62px 53px, url(../../../assets/img/svg/icon-note.svg) no-repeat 150px 57px;
}

@media screen and (max-width: 767px) {
  .p-top7 .c-list4__row3 {
    background: url(../../../assets/img/svg/step03.svg) no-repeat 30px center;
  }
}

.p-top7 .c-list4__row4 {
  background: url(../../../assets/img/svg/step04.svg) no-repeat 62px 53px, url(../../../assets/img/svg/icon-note.svg) no-repeat 150px 57px;
}

@media screen and (max-width: 767px) {
  .p-top7 .c-list4__row4 {
    background: url(../../../assets/img/svg/step04.svg) no-repeat 30px center;
  }
}

.p-top7 .c-list4__row5 {
  background: url(../../../assets/img/svg/step05.svg) no-repeat 62px 53px, url(../../../assets/img/svg/icon-meeting.svg) no-repeat 150px 57px;
}

@media screen and (max-width: 767px) {
  .p-top7 .c-list4__row5 {
    background: url(../../../assets/img/svg/step05.svg) no-repeat 30px center;
  }
}

.p-top7 .c-list4__row6 {
  background: url(../../../assets/img/svg/step06.svg) no-repeat 62px 53px, url(../../../assets/img/svg/icon-handshake.svg) no-repeat 150px 57px;
}

@media screen and (max-width: 767px) {
  .p-top7 .c-list4__row6 {
    background: url(../../../assets/img/svg/step06.svg) no-repeat 30px center;
  }
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-white {
  color: #ffffff;
}

.u-center--text {
  text-align: center;
}

.heading-secondary {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 0.8rem;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#75b0f9), to(#1c2ab1));
  background-image: linear-gradient(to right, #75b0f9, #1c2ab1);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(5deg) scale(1.1);
  transform: skewY(5deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes coursesanimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -60px);
    transform: translate(0, -60px);
  }
  50% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes coursesanimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -60px);
    transform: translate(0, -60px);
  }
  50% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/*# sourceMappingURL=style.css.map */
