//baseWidth
$breakpoint1: 767px;

// $mainFonts : "RobotoRegular", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$colorWhite: #ffffff;
$colorPurple: #5d3284;

$colorBlack: #000A1C;
$colorBlue: #0288D1;
$colorGrey: #607C93;
$colorLightBlue: #EDF8FF;
$colorYellow: #FFD600;



//font
$notosan: 'NotoSansJP';
$roboto: 'Roboto';
