//baseWidth
$breakpoint1: 767px;

// $mainFonts : "RobotoRegular", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$colorWhite: #ffffff;
$colorPurple: #5d3284;
