	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="l-container">
			<div class="c-footer__columns">
				<div class="c-footer__left">
					<nav>
						<ul>
							<li class="c-footer__title">Box link 1</li>
							<li>link link link</li>
							<li>link link link</li>
							<li>link link link</li>
						</ul>
					</nav>
				</div>
				<div class="c-footer__center">
					<nav>
						<ul>
							<li class="c-footer__title">Box link 1</li>
							<li>link link link</li>
							<li>link link link</li>
							<li>link link link</li>
						</ul>
					</nav>
				</div>
				<div class="c-footer__right">
					<nav>
						<ul>
							<li class="c-footer__title">Box link 1</li>
							<li>link link link</li>
							<li>link link link</li>
							<li>link link link</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<div class="c-copyright">
		<p>©2019 ALLGROW LABO Inc.</p>
	</div>
	<!--▲ Footer ▲-->
	<script src="assets/js/main.js"></script>
</body>
</html>