<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learn Code</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="l-container">
			<div class="c-header__menu">
				<h1 class="c-header__logo">
					<a href="/" class="c-header__logo__link">
						<figure class="c-header__logo__img">
							<img src="../../assets/img/svg/logo.svg" alt="株式会社プレテック採⽤サイト（PRE-TECK RECRUIT）">
						</figure>
					</a>
				</h1>
				<ul class="c-header__list">
					<li class="c-header__item"><a href="#company" class="c-header__item__link">
						<span class="c-header__item__txt">COMPANY</span>
						<span class="c-header__item__subTxt">企業情報</span>
					</a></li>
					<li class="c-header__item"><a href="#business" class="c-header__item__link">
						<span class="c-header__item__txt">BUSINESS</span>
						<span class="c-header__item__subTxt">事業紹介</span>
					</a></li>
					<li class="c-header__item"><a href="work&staff" class="c-header__item__link">
						<span class="c-header__item__txt">WORK & STAFF</span>
						<span class="c-header__item__subTxt">職種紹介・社員紹介</span>
					</a></li>
					<li class="c-header__item"><a href="" class="c-header__item__link">
						<span class="c-header__item__txt">RECRUIT</span>
						<span class="c-header__item__subTxt">採用情報</span>
					</a></li>
					<li class="c-header__item c-header__item--background"><a href="" class="c-header__item__link">
						<span class="c-header__item__txt c-header__item__txt--transparent ">ENTRY</span>
						<span class="c-header__item__txt">ENTRY</span>
					</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!--▲ Header ▲-->