<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learn Code</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="c-header__menu">
			<h1 class="c-header__logo">
				<a href="/">
					<figure class="c-header__img">
						<img src="../../assets/img/svg/logo.svg" alt="株式会社プレテック採⽤サイト（PRE-TECK RECRUIT）">
					</figure>
				</a>
			</h1>
			<div class="c-header__nav">
				<ul class="c-header__list">
					<li class="c-header__item"><a href="#company" >
							<span class="c-header__txt">COMPANY</span><br>
							<span class="c-header__subTxt">企業情報</span>
						</a></li>
					<li class="c-header__item"><a href="#business">
							<span class="c-header__txt">BUSINESS</span><br>
							<span class="c-header__subTxt">事業紹介</span>
						</a></li>
					<li class="c-header__item"><a href="#workstaff">
							<span class="c-header__txt">WORK & STAFF</span><br>
							<span class="c-header__subTxt">職種紹介・社員紹介</span>
						</a></li>
					<li class="c-header__item"><a href="#recruit">
							<span class="c-header__txt">RECRUIT</span><br>
							<span class="c-header__subTxt">採用情報</span>
						</a></li>
				</ul>
				<div class="c-header__entry">
					<a href="https://www.pre-tech.co.jp/contact/">
						<span>ENTRY</span>
					</a>
				</div>
			</div>
		</div>
	</header>
	<!--▲ Header ▲-->